.header-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #ccc;
  margin: 0 10px;
}

.link {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
